.wrap
  .container

    .row
      .col-sm-12
        %h1
          Pricing

    .row
      - [Plan::Free, Plan::Entrepreneur, Plan::Founder].each do |plan|
        .col-sm-4.sl-plan{ class: "sl-plan-#{plan.id}" }
          .sl-plan-wrapper
            %h2
              = plan.name
            .sl-plan-price
              %span> $
              = plan.amount / 100
            .sl-plan-duration
              per month

            %form{ action: payments_path, method: :post }
              %input{ type: :hidden, name: :plan, value: plan.id }
              - if plan.free?
                %input{ type: :hidden, name: :stripeToken, value: 'free' }
                %input{ type: :submit,
                        class: ['btn', 'btn-default', 'btn-md'],
                        value: 'Join Now',
                      }

              - else
                %input.sl-stripe-button{ type: :submit,
                        class: ['btn', 'btn-default', 'btn-md'],
                        value: 'Join Now',
                        data:  { amount:          0,
                                 description:     "#{plan.name} plan",
                                 image:           "#{image_url("startuplabicongreen.png")}",
                                 name:            'Startup Lab',
                                 'panel-label' => 'Subscribe',
                                }}

    .row
      - [Plan::Free, Plan::Entrepreneur, Plan::Founder].each do |plan|
        .col-sm-4.sl-plan-features{ class: "sl-plan-features-#{plan.id}" }
          .sl-feature-wrapper
            %h4
              = plan.name
              includes:
            %ul
              - plan.features.each do |feature|
                %li
                  = feature


%script{ src: 'https://checkout.stripe.com/v2/checkout.js' }
:javascript
  $(document).ready(function() {
    $('.sl-stripe-button').data({ key: gon.stripe_publishable_key })
    $('.sl-stripe-button').on('click', function(event) {
        event.preventDefault();
        var $button = $(this);
        var $form   = $button.parents('form');
        var opts    = $.extend({}, $button.data(), {
            token: function(result) {
              $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
            }
        });
        StripeCheckout.open(opts);
    });
  });