
#u645-4.clearfix.colelem
  / content
  %p Idea Name
  
#pu630.clearfix.colelem

  .grid

    .grid-sizer
    .grid-item.grid-item--height-norm.grid-item--problem
      = link_to 'Problem', '#'

    .grid-item.grid-item--height-norm.grid-item--idea
      = link_to 'Idea', '#', class: 'inverted'
      
    .grid-item.grid-item--height-norm.grid-item--mvp
      = link_to 'MVP', '#', class: 'inverted'

    .grid-item.grid-item--height-tiny.grid-item--target
      = link_to 'Target Market', '#'

    .grid-item.grid-item--height-norm.grid-item--costs
      = link_to 'Costs', '#'


    .grid-item.grid-item--height-double.grid-item--revenue
      = link_to 'Business Mod-Rev', '#'


    .grid-item.grid-item--height-med.grid-item--channels
      = link_to 'Channels', '#'

    .grid-item.grid-item--height-norm.grid-item--founders
      = link_to 'Founders', '#', class: 'inverted'

    .grid-item.grid-item--height-norm.grid-item--width2.grid-item--crowdfunding
      = link_to 'Crowdfunding Options', '#'

    .grid-item.grid-item--height-norm.grid-item--width2.grid-item--social
      = link_to 'Social Media', '#', class: 'inverted'
 
 
#u646-4.clearfix.colelem
  / content
  %p Submitted by
#pu647.clearfix.colelem
  / group
  #u647.grpelem
    / simple frame
  #u648-4.clearfix.grpelem
    / content
    %p Lauren Lopatko
  #u657.clip_frame.grpelem
    / image
    %img#u657_img.block{:alt => "", :height => "40", :src => "images/thumbsupvector.png", :width => "41"}/
  #u663-4.clearfix.grpelem
    / content
    %p 10 up votes
%a#u650.nonblock.nontext.colelem{:href => "submit-new-idea.html"}
  / simple frame
#u649-4.clearfix.colelem
  / content
  %p Comments
.verticalspacer

:javascript
  $(document).ready(function() {
    $('.grid').isotope({
      itemSelector: '.grid-item',
      masonry: {
        // use outer width of grid-sizer for columnWidth
        columnWidth: 183
      },
      sortBy: 'original-order'
    });
  });
