%html
  %body
    %h1= "Idea : #{@idea.name}"
    %p= "Submitted by #{@idea.user.name || 'Unknown'} (#{link_to(@idea.user.email, "mailto:#{@idea.user.email}")})".html_safe


    %h3 The Problem

    %p
      %b What problem have you identified?
    %p= @idea.problem

    %p
      %b Describe the problem
    %p= @idea.problem_detail



    %h3 The idea

    %p
      %b What is your idea?
    %p= @idea.idea



    %h3 Minimum Viable Product

    %table
      %tr
        %th Name of Company:
        %td= @idea.company
      %tr
        %th MVP Site URL:
        %td= link_to @idea.mvp_url, @idea.mvp_url
      %tr
        %th MVP Stage:
        %td= @idea.mvp_stage



    %h3 Target Market

    %p
      %b Who is your ideal customer?
    %p= @idea.target_customer

    %p
      %b Why are they your ideal customer? Why would they value your product?
    %p= @idea.target_customer_reason



    %h3 Channels

    %ul
      - @idea.channels.each do |channel|
        %li= channel.name



    - if @idea.costs.present?
      %h3 Costs

      %p
        %b What costs will you incur to run?
      %ul
        - @idea.costs.split("\n").each do |cost|
          %li= cost



    %h3 Business Model-Revenue

    %p
      %b How will you earn income?
    %p= @idea.revenue



    %h3 Founders

    %ul
      - @idea.founders.includes(:user).each do |founder|
        %li= "#{founder.user.name || 'Unknown'} (#{link_to(founder.user.email, "mailto:#{founder.user.email}")})".html_safe



    %h3 Social Media

    %table
      - %w(facebook twitter linkedin).each do |network|
        - unless (url = @idea.send("#{network}_url")).blank?
          %tr
            %th= network.humanize
            %td= link_to url, url



    %h3 Funding Options

    %ul
      - @idea.funding_option_names.each do |option|
        %li= option



    %h3 Timing

    %p
      %b Why is the market ready?
    %p= @idea.timing_why

    %p
      %b Description
    %p= @idea.timing_description



    %h3 Elevator Pitch

    %p
      %b Why are you creating this solution?
    %p= @idea.pitch_why

    %p
      %b How will it solve the problem?
    %p= @idea.pitch_how



    %h3 Comments

    %ul
      - @idea.comments.includes(:user).each do |comment|
        %li= "#{comment.body} (#{comment.user.name} #{time_ago_in_words(comment.created_at)} ago)"

