
#u645-4.clearfix.colelem
  %p Idea: {{ idea.name }}

#pu630.clearfix.colelem

  .grid
    .grid-sizer
    .grid-item.grid-item--height-norm.grid-item--problem
      %sl-idea-panel(ng-model="idea" link-title="Problem" template-url="#{asset_path('templates/ideas/forms/problem.html')}")

    .grid-item.grid-item--height-norm.grid-item--idea.inverted
      %sl-idea-panel(ng-model="idea" link-title="Idea" template-url="#{asset_path('templates/ideas/forms/idea.html')}")
      
    .grid-item.grid-item--height-norm.grid-item--mvp.inverted
      %sl-idea-panel(ng-model="idea" link-title="MVP" template-url="#{asset_path('templates/ideas/forms/mvp.html')}")

    .grid-item.grid-item--height-tiny.grid-item--target
      = link_to 'Target Market', '#'

    .grid-item.grid-item--height-norm.grid-item--costs
      = link_to 'Costs', '#'


    .grid-item.grid-item--height-double.grid-item--revenue
      = link_to 'Business Mod-Rev', '#'


    .grid-item.grid-item--height-med.grid-item--channels
      = link_to 'Channels', '#'

    .grid-item.grid-item--height-norm.grid-item--founders
      = link_to 'Founders', '#', class: 'inverted'

    .grid-item.grid-item--height-norm.grid-item--width2.grid-item--crowdfunding
      = link_to 'Crowdfunding Options', '#'

    .grid-item.grid-item--height-norm.grid-item--width2.grid-item--social
      = link_to 'Social Media', '#', class: 'inverted'
 
