.wrap
  .container

    .row
      .col-sm-12
        %h1
          Pricing

    .row
      - [Plan::Free, Plan::Entrepreneur, Plan::Founder].each do |plan|
        .col-sm-4.sl-plan{ class: "sl-plan-#{plan.id}" }
          .sl-plan-wrapper
            %h2
              = plan.name
            .sl-plan-price
              %span> $
              = plan.amount / 100
            .sl-plan-duration
              per month

            - if plan.is_live?
              .sl-login-link{ 'ng-show' => "!session.isAuthenticated()" }
                - origin = URI::escape("/#/pricing?plan_id=#{plan.id}")
                %a.btn.btn-default.btn-md(href="/#/sign-in?origin=#{origin}" target="_self")
                  Join Now

              .sl-login-link{ 'ng-show' => "session.isAuthenticated() && session.currentUser().plan.id == '#{plan.id}'" }
                %a.btn.btn-default.disabled.btn-md
                  Your Plan

              - form_data = { after_action: payments_path, idea_limit: plan.max_num_ideas, can_publish_ideas: (plan.can_publish_ideas? ? '1' : nil) }
              - if plan.free?
                %form{ method: :post, 'ng-show' => "session.isAuthenticated() && session.currentUser().plan.id != '#{plan.id}'", 'ng-submit' => "submitFreePlan('#{plan.id}', $event)", data: form_data.merge(is_free: '1') }
                  %input{ type: :hidden, name: :plan_id, value: plan.id }
                  %input{ type: :hidden, name: :stripeToken, value: 'free' }
                  %input.sl-free-plan{ type: :submit,
                          class: ['btn', 'btn-default', 'btn-md'],
                          value: 'Select Plan',
                        }

              - else
                %form{ method: :post, 'ng-show' => "session.isAuthenticated() && session.currentUser().plan.id != '#{plan.id}'", 'ng-submit' => "submitPaidPlan('#{plan.id}', $event)", data: form_data }
                  %input{ type: :hidden, name: :plan_id, value: plan.id }
                  %input{ type: :submit,
                          class: ['btn', 'btn-default', 'btn-md'],
                          value: 'Select Plan',
                          data:  { description:     "#{plan.name} plan",
                                   image:           "#{image_url("startuplabicongreen.png")}",
                                   name:            'Startup Lab',
                                   'panel-label' => 'Subscribe',
                                  }}

            - else
              .sl-login-link
                %a.btn.btn-default.disabled.btn-md.sl-coming-soon
                  Coming Soon
            - if plan.free_trial_days > 0
              .sl-plan-trial-days
                %i.fa.fa-asterisk
                = plan.free_trial_days
                day free trial
            - else
              .sl-plan-no-trial
                &nbsp;

          .sl-plan-features{ class: "sl-plan-features-#{plan.id}" }
            .sl-feature-wrapper
              %h4
                = plan.name
                includes:
              %ul
                - plan.features.each do |feature|
                  %li
                    = feature
