.wrap
  .container

    .row
      .col-sm-12
        %h1
          Pricing

    .row
      - [Plan::Free, Plan::Entrepreneur, Plan::Founder].each do |plan|
        .col-sm-4.sl-plan{ class: "sl-plan-#{plan.id}" }
          .sl-plan-wrapper
            %h2
              = plan.name
            .sl-plan-price
              %span> $
              = plan.amount / 100
            .sl-plan-duration
              per month

            .sl-login-link{ 'ng-show' => "!session.isAuthenticated()" }
              %a.btn.btn-default.btn-md(href="/#/sign-in?plan=#{plan.id}&origin=/pricing")
                Join Now

            .sl-login-link{ 'ng-show' => "session.isAuthenticated() && session.currentUser().plan.id == '#{plan.id}'" }
              %a.btn.btn-default.disabled.btn-md
                Your Plan

            - if plan.free?
              %form{ method: :post, 'ng-show' => "session.isAuthenticated() && session.currentUser().plan.id != '#{plan.id}'", 'ng-submit' => "submitFreePlan('#{plan.id}', $event)", data: { after_action: payments_path, idea_limit: plan.max_num_ideas, is_free: '1' } }
                %input{ type: :hidden, name: :plan, value: plan.id }
                %input{ type: :hidden, name: :stripeToken, value: 'free' }
                %input.sl-free-plan{ type: :submit,
                        class: ['btn', 'btn-default', 'btn-md'],
                        value: 'Select Plan',
                      }

            - else
              %form{ method: :post, 'ng-show' => "session.isAuthenticated() && session.currentUser().plan.id != '#{plan.id}'", 'ng-submit' => "submitPaidPlan('#{plan.id}', $event)", data: { after_action: payments_path, idea_limit: plan.max_num_ideas } }
                %input{ type: :hidden, name: :plan, value: plan.id }
                %input{ type: :submit,
                        class: ['btn', 'btn-default', 'btn-md'],
                        value: 'Select Plan',
                        data:  { description:     "#{plan.name} plan",
                                 image:           "#{image_url("startuplabicongreen.png")}",
                                 name:            'Startup Lab',
                                 'panel-label' => 'Subscribe',
                                }}

    .row
      - [Plan::Free, Plan::Entrepreneur, Plan::Founder].each do |plan|
        .col-sm-4.sl-plan-features{ class: "sl-plan-features-#{plan.id}" }
          .sl-feature-wrapper
            %h4
              = plan.name
              includes:
            %ul
              - plan.features.each do |feature|
                %li
                  = feature
