.wrap
  .container

    .row
      .col-sm-12
        %h1
          Pricing

    .row
      - [Plan::Free, Plan::Entrepreneur, Plan::Founder].each do |plan|
        .col-sm-4.sl-plan{ class: "sl-plan-#{plan.id}" }
          .sl-plan-wrapper
            %h2
              = plan.name
            .sl-plan-price
              %span> $
              = plan.amount / 100
            .sl-plan-duration
              per month

            .login-link{ 'ng-show' => "!session.isAuthenticated()" }
              %a.btn.btn-default.btn-md(href="/#/sign-in?plan=#{plan.id}&origin=/pricing")
                Join Now

            %form{ method: :post, data: { action: payments_path }, 'ng-show' => "session.isAuthenticated()", 'ng-submit' => "submitPlan('#{plan.id}', $event)" }
              %input{ type: :hidden, name: :plan, value: plan.id }
              - if plan.free?
                %input{ type: :hidden, name: :stripeToken, value: 'free' }
                %input{ type: :submit,
                        class: ['btn', 'btn-default', 'btn-md'],
                        value: 'Join Now',
                      }

              - else
                %input.sl-stripe-button{ type: :submit,
                        class: ['btn', 'btn-default', 'btn-md'],
                        value: 'Join Now',
                        data:  { amount:          0,
                                 description:     "#{plan.name} plan",
                                 image:           "#{image_url("startuplabicongreen.png")}",
                                 name:            'Startup Lab',
                                 'panel-label' => 'Subscribe',
                                }}

    .row
      - [Plan::Free, Plan::Entrepreneur, Plan::Founder].each do |plan|
        .col-sm-4.sl-plan-features{ class: "sl-plan-features-#{plan.id}" }
          .sl-feature-wrapper
            %h4
              = plan.name
              includes:
            %ul
              - plan.features.each do |feature|
                %li
                  = feature
