
!!!
%html.html{:lang => "en-US", "ng-app" => "StartupLab", "ng-controller" => "AppController"}
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script(src="//webfonts.creativecloud.com/quicksand:n7:all.js" type="text/javascript")
    <script src="//load.sumome.com/" data-sumo-site-id="31081e321994b0b40678372bb6ef10369e72119324aadabf24c2565b0170f29e" async="async"></script>

    %title View idea
  %body(ng-cloak)
    .header_wrap
      %nav.navbar.navbar-inverse
        .container
          .header
            %a(href="http://singlepartners.io/")
              back to Single Partners
          %ul.nav.navbar-nav.navbar-right
            %li(ng-hide="session.isAuthenticated()")
              %a(href="/#/sign-in")
                Sign In
            %li(ng-show="session.isAuthenticated()")
              %a
                Welcome {{ session.currentUser().name }}
            %li.dropdown(ng-show="session.isAuthenticated()")
              %a.dropdown-toggle(class="dropdown-toggle" data-toggle="dropdown" role="button")
                Dashboard
                %span.caret
              %ul.dropdown-menu
                %li= link_to "Dashboard", "/#/dashboard"
                %li
                  %a(ng-click="session.logout()") Sign Out
    .banner_wrap
      .container
        %ul.nav.navbar-nav
          %li
            %h1
              %a(href="/#/") Startup Lab
          %li.logo= image_tag('startuplabicongreen.png')
          %li.step
          %li
            %h2
              %a(href="/#/ideas/new") Create Idea
          %li
            %h2
              %a(href="/#/ideas") Browse Ideas

    %div(ng-view)

    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    %footer(class="footer")
      .container
        .link.left
          %a(href="/#/disclaimer") Disclaimer
        .link.left
          %a(href="http://singlepartners.io/privacy") Privacy Policy
        .link.right
          &copy; Single Partners 2015
