
!!!
%html.html{:lang => "en-US", "ng-app" => "StartupLab", "ng-controller" => "AppController"}
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

    :javascript
      document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/quicksand:n7:all.js" type="text/javascript">\x3C/script>');

    %title View idea
  %body
    .header_wrap
      %nav.navbar.navbar-inverse(ng-show="session.isAuthenticated()")
        .container
          .header
            %a(href="http://jordan-michaelides.com/")
              %img{alt: "back to Jordan Michaelides", src: asset_path("u417-4.png")}/
          %ul.nav.navbar-nav.navbar-right
            %li
              %a
                Welcome {{ session.currentUser.name }}
            %li.dropdown
              %a.dropdown-toggle(class="dropdown-toggle" data-toggle="dropdown" role="button")
                Dashboard
                %span.caret
              %ul.dropdown-menu
                %li= link_to "Dashboard", "/#/"
                %li
                  %a(ng-click="session.logout()") Sign Out
    .banner_wrap
      .container
        %ul.nav.navbar-nav
          %li
            %h1
              %a(href="/#/") Startup Lab
          %li.logo= image_tag('startuplabicongreen.png')
          %li.step
          %li
            %h2
              %a(href="/#/ideas/new") Got a startup idea?
          %li
            %h2
              %a(href="/#/ideas") Browse Ideas

    %div(ng-view)

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
