!!!
%html.html{:lang => "en-US", "ng-app" => "StartupLab", "ng-controller" => "AppController"}
  %head
    = render 'layouts/meta'
  %body(ng-cloak)
    = render 'layouts/header'
    = render 'layouts/flash'
    = yield
    = render 'layouts/footer'

= render 'layouts/analytics'